extends layout

block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          |  MekanBul 
          small &nbsp; Civardaki mekanları keşfet! 
  .row 
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') Defacto
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 9 km
          p.address Isparta/Merkez
          p
            span.label.label-warning Giyim 
            | &nbsp;
            span.label.label-warning Aksesuar
            | &nbsp;
            
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item 
          h4 
            a(href='/mekan') Koton 
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 7 km
          p.address Isparta/Merkez
          p
            span.label.label-warning Kişisel Bakım
            | &nbsp;
            span.label.label-warning Giyim
            | &nbsp;
           
  .row 
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item 
          h4 
            a(href='/mekan') Mavi
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          span.badge.pull-right.badge-default 8 km
          p.address Isparta/Merkez
          p
            span.label.label-warning Giyim
            | &nbsp;
            span.label.label-warning Alışveriş
            | &nbsp;
